<button mat-raised-button *ngIf="!showretry" color="primary" (click)="GoogleLogin()">
    New User
</button>

<form [formGroup]="form">
    <mat-card style="background-color:cornflowerblue;">
		<mat-card-content>
		    <div formArrayName="userDetails" class="player">
		        <div *ngFor="let player of form.get('userDetails')?.controls; let playerIndex = index" [formGroupName]="playerIndex">
		            <label> email: <input formControlName="email" type="text"></label>
		            <hr/>
		            <label> uid: <input formControlName="uid" type="text"></label>
		             <hr/>
		            <label> displayName: <input formControlName="displayName" type="text"></label>
		             <hr/>
		            <label> photoURL: <input formControlName="photoURL" type="text"></label>
		        </div>
		    </div>
		</mat-card-content>
	</mat-card>
</form>

FormValue:
<pre>
{{form.getRawValue() |  json }}
</pre>
