<!--
<div  fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10%">
     <div fxFlex="0 1 30vh"  fxLayoutGap="10%" fxLayoutAlign="center">
        <mat-icon fxFlexAlign="center" (click)= "forward()"> fast_rewind </mat-icon>
           <mat-card style= "max-width: 12%;" >
           	  <mat-card-header>
                    <mat-card-title>AAA</mat-card-title>
                    <mat-card-subtitle>A</mat-card-subtitle>
                </mat-card-header>

                 <img mat-card-image [src]="thumbnail" alt="Photo of A ">
                <mat-card-content>
                <p>
                  A
                </p>
                </mat-card-content>
             </mat-card>

            <mat-card style= "max-width: 12%;" >
            <mat-card-header>
                <mat-card-title>BBB</mat-card-title>
                <mat-card-subtitle>B</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image [src]="thumbnail2" alt="Photo of B">
            <mat-card-content>
            <p>
                B
            </p>
            </mat-card-content>
        </mat-card>
         <mat-icon fxFlexAlign="center" (click) = "rewind()"> fast_forward </mat-icon>
 </div>
  <div fxFlex="0 1 20vh"  fxLayoutGap="5%" fxLayoutAlign="center">
        <mat-card style= "max-width: 20%;" >
            <mat-card-header>
                <mat-card-title>CCC</mat-card-title>
                <mat-card-subtitle>CCC</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image  class ="kidImage" [src]="thumbnail1" >
            <mat-card-content>
                <p>
                    Kids
                </p>
            </mat-card-content>
        </mat-card>

        <mat-card style= "max-width: 20%;" >
            <mat-card-header>
         
                <mat-card-title>DDD</mat-card-title>
                <mat-card-subtitle>DDD</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image class ="kidImage" [src]="thumbnail" >
            <mat-card-content>
                <p>
                    kid
                </p>
            </mat-card-content>
        </mat-card>
        <mat-card style= "max-width: 20%;" >
            <mat-card-header>
                <mat-card-title>DDD</mat-card-title>
                <mat-card-subtitle>DDD</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image class ="kidImage" [src]="thumbnail1">
            <mat-card-content>
                <p>
                    Add Kid
                </p>
            </mat-card-content>
        </mat-card>        
    </div>

</div>
-->