<div class="example-container">
<div class="bg" style="background-image: url('/assets/gift.jpg'); ">
<h1 style="text-align:center">My-Memeber!</h1>


<div fxLayout="row" fxLayoutAlign="center center" class="logincomp">

    <img fxFlex="35%" src="/assets/man1-first.png" class="man1" />
    <img fxFlex="15%" src="/assets/a1.png"  align="center" class="img1"/>
<div></div>
    <mat-card fxFlex="55%"  class="rowheight" >
        <mat-card-content fxLayout="column">
            <button mat-raised-button color="primary" (click)= "taskService.googleSignin()" > Google Login</button>
        </mat-card-content>          
    </mat-card>
   <img fxFlex="15%" src="/assets/images.png"  class="img2"  />
   <img fxFlex="35%" src="/assets/man2-first.png" class="man2"  />
</div>
</div>
</div>