<div class="example-container">
<div class="bg" style="background-image: url('/assets/gift.jpg'); ">
<h1 style="text-align:center">My-Memeber!</h1>


<div fxLayout="row" fxLayoutAlign="center center" class="logincomp">

    <img fxFlex="25%" src="/assets/man1-first.png" class="man1" />
    <img src="/assets/a1.png"  style="width:10%;" class="img1"/>
<div></div>
  <mat-card fxFlex="35%"  class="rowheight" >
        <mat-card-content fxLayout="column">
            <button mat-raised-button color="primary" (click)= "taskService.googleSignin()" > Google Login</button>
        </mat-card-content>          
    </mat-card>

   <img  src="/assets/images.png" style="width:6%;" class="img2" />

   <img  src="/assets/dp3.jpg" style="width:6%;" class="img3" />
   <img fxFlex="22%" src="/assets/man2-first.png"  class="man2"  />
</div>
</div>
</div>


<!--<div> 
</div> -->