<p>install-login works!</p>
<div *ngIf="svc.hellotext === 'install-login'" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10%">
    <div>
        Show Authentication tests- Auth Pass - New User
    </div>

    <button mat-raised-button *ngIf="!showretry" color="primary" (click)="GoogleLogin()">
        Google login
    </button>

    <mat-card fxFlex="50%" [style.backgroundColor]="'cyan'" *ngIf="showretry">
        <mat-card-header>
            <mat-card-title>Logging into Google Account</mat-card-title>
        </mat-card-header>

        <mat-card-content fxLayout="column">
            <mat-spinner *ngIf="showspinner"></mat-spinner>

            <button mat-raised-button *ngIf="!showspinner" color="primary" (click)="GoogleLogin()">
                {{retryoption}}</button>
        </mat-card-content>
    </mat-card>
</div>

<div *ngIf="svc.hellotext === 'login-olduser'" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10%">

    <div *ngIf="afAuth.user | async as user; else showLoginphotourl">
        <h1>Hello User !</h1>
        <pre>
                    UID: {{ user?.uid }}
                    PhotoURL: {{ user?.photoURL }}
            </pre>
        <div>
            Login Old User Success
        </div>
    </div>
    <ng-template #showLoginphotourl>
        <div>
            Show Authentication tests- Login Old User
        </div>

        <button mat-raised-button *ngIf="!showretry" color="primary" (click)="Googleolduser()">
            Google login
        </button>

        <mat-card fxFlex="50%" [style.backgroundColor]="'cyan'" *ngIf="showretry">
            <mat-card-header>
                <mat-card-title>Logging into Google Account</mat-card-title>
            </mat-card-header>

            <mat-card-content fxLayout="column">
                <div fxLayout="row" fxLayoutAlign="space-around center" style="height:100%">
                    <mat-spinner diameter="50" strokeWidth="5"></mat-spinner>
            </div>

                <button mat-raised-button *ngIf="!showspinner" color="primary" (click)="Googleolduser()">
                    {{retryoption}}</button>
            </mat-card-content>
        </mat-card>
  
    </ng-template>


</div>

<div *ngIf="svc.hellotext === 'login-fail'" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10%">
    <div>
        Show Authentication tests- Auth Fail
    </div>

    <button mat-raised-button *ngIf="!showretry" color="primary" (click)="GoogleLoginFail()">
        Google login
    </button>

    <mat-card fxFlex="50%" [style.backgroundColor]="'cyan'" *ngIf="showretry">
        <mat-card-header>
            <mat-card-title>Logging into Google Account</mat-card-title>
        </mat-card-header>

        <mat-card-content fxLayout="column">
            <mat-spinner *ngIf="showspinner"></mat-spinner>

            <button mat-raised-button *ngIf="!showspinner" color="primary" (click)="GoogleLoginFail()">
                {{retryoption}}</button>
        </mat-card-content>
    </mat-card>

</div>

<div *ngIf="svc.hellotext === 'login-retry'" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10%">
    <div>
        Show Authentication tests - Retry Pass
    </div>

    <button mat-raised-button *ngIf="!showretry" color="primary" (click)="GoogleLoginFail()">
        Google login
    </button>

    <mat-card fxFlex="50%" [style.backgroundColor]="'cyan'" *ngIf="showretry">
        <mat-card-header>
            <mat-card-title>Logging into Google Account</mat-card-title>
        </mat-card-header>

        <mat-card-content fxLayout="column">
            <mat-spinner *ngIf="showspinner"></mat-spinner>

            <button mat-raised-button *ngIf="!showspinner" color="primary" (click)="GoogleLoginRetry()">
                {{retryoption}}</button>
        </mat-card-content>
    </mat-card>

</div>

<div *ngIf="svc.hellotext === 'login-photourl'" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10%">
    <div>
        Show Authentication tests- Save Newuser photoURL in DB
    </div>

    <button mat-raised-button *ngIf="!showretry" color="primary" (click)="GoogleLoginPhotoUrl()">
        Google login
    </button>

    <mat-card fxFlex="50%" [style.backgroundColor]="'cyan'" *ngIf="showretry">
        <mat-card-header>
            <mat-card-title>Logging into Google Account</mat-card-title>
        </mat-card-header>

        <mat-card-content fxLayout="column">
            <mat-spinner *ngIf="showspinner"></mat-spinner>

            <button mat-raised-button *ngIf="!showspinner" color="primary" (click)="GoogleLoginPhotoUrl()">
                {{retryoption}}</button>
        </mat-card-content>
    </mat-card>
</div>

<div *ngIf="svc.hellotext === 'login-photourldialog'" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10%">
    <button mat-button color="primary" (click)="openDialogWithTemplateRef(myDialog)">Open dialog</button>

    <template #myDialog>
        Hi
    </template>
    <!--
             <div *ngIf="afAuth.user | async as user; else showLoginphotourl">
                <h1>Hello User !</h1>
                    <pre>
                            UID: {{ user?.uid }}
                            PhotoURL: {{ user?.photoURL }}
                    </pre>
                    <button mat-button color="primary" (click)="openDialogWithTemplateRef(myDialog)">Open dialog</button>
    </div>
    -->

</div>