<div>
<h4>Basic mat-select</h4>
<mat-form-field>
  <mat-label>Favorite food</mat-label>
  <mat-select>
    <mat-option *ngFor="let food of foods" [value]="food.value">
      {{food.viewValue}}
    </mat-option>
  </mat-select>
</mat-form-field>
</div>

<div fxLayout = "column" fxLayoutAlign="center center" fxLayoutGap="10%" style="margin: 10%; padding: 5%;">

	<button mat-raised-button > View</button>
	<button  mat-raised-button > Eager</button>
</div>


<div>
For Reactive Forms:
<mat-form-field>
  <mat-label>Select the Feature</mat-label>
  <mat-select [formControl]="SanityControl">
    <mat-option>-- None --</mat-option>
    <mat-optgroup *ngFor="let group of SanityGroups" [label]="group.name"
                  [disabled]="group.disabled">
      <mat-option *ngFor="let sanityitem of group.SanityItems" [value]="sanityitem.value">
        {{sanityitem.viewValue}}
      </mat-option>
    </mat-optgroup>
  </mat-select>
</mat-form-field>
<p>
  Value: {{ SanityControl.value }}
</p>
</div>

 <ul>
    <li *ngFor="let item of items | async">
      {{ item.name }}
    </li>
  </ul>